@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap');



:root{
    --font-primary: "Inter",sans-serif;
    --font-secondary: "Cardo", serif;
}

.container h1{
    text-align: center;
}

.panel-header {
    font-family: var(--font-primary);
    font-size: 17px !important;
    line-height: normal;
}

.nav-link {
    font-family: var(--font-primary); 
    font-weight: 700;
}

.header-title {
    font-family: var(--font-primary);
    font-weight: 800;
}

.section-title> * {
    font-family: var(--font-secondary) !important;
    font-weight: 500 !important;
}

.panel-body {
    font-family: var(--font-primary);
    font-weight: 610;
}

.panel-body p {
    font-size: 17px !important;
}

.element {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_acc {
    width: 100%;
}

.nav-tabs {
    min-height: 72px;
    margin: auto 139px;
    text-align: center;
    /* background-color: #575353; */
    color: #909090;
    /* border-radius: 50px; */
    margin-bottom: 36px;
    border: none;
}

.nav-item {
    text-align: center;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: #cac2c2;
    border: none;
}

.nav-link:hover {
    background-color: transparent !important;
    /* border: none !important; */
    /* border-radius: 30px; */
    border-bottom: 3px solid #00A56A !important;
    color: #00A56A !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nav-tabs .active {
    background-color: transparent !important;
    border-bottom: 3px solid #00A56A !important;
    color: #00A56A !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

@media screen and (max-width: 768px) {
    .nav-tabs {
        margin: 25px 0px;
    }

}
    
